@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500;600;700&family=Anton&family=Lilita+One&display=swap');
body{
    margin: 0;
    padding: 0;
    /* position fixed en el body se utiliza para que los landing page no tengan scroll, junto con top=0,bottom=0, left=0 y right=0*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 }
.main-container{
    width: 100%;
    min-height: 780px;
    margin: 0;
}
.landing-img {
    background-image: url('/Assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
}
.landing-img--logo-1{
    width: 130px;
    height: 100px;
}
.landing-img--logo-2{
    width: 250px;
    height: 200px;
    margin-right: 30px;
}
.landing-content{
   background-color: #F2F2F2;
   overflow: hidden;
}
.landing-content--title{
    margin-top: 20px;
    font-size: 1.4rem;
    text-align: right;
    padding-right: 20px;
}
.landing-content--title p{
    width: 300px;
    line-height: 1.5rem;
    font-weight: 100;
    font-size: 1.3rem;
}
.landing-content--img-container{ 
    top: -30px;
    left: 90px;
}

.landing-content--subtitle{
    text-align: center;
}
.landing-content--subtitle p{
    width: 450px;
    font-size: 1.4rem;
    font-weight: 100;
}
.landing-content--subtitle-2 h2{
    width: 410px;
    font-size: 2.4rem;
    font-weight: bolder;
    color: #FF1D08;
    font-family: 'Lilita One', sans-serif;
    margin-bottom: 20px;
}
.landing-content--remember p{
    font-size: 1.2rem;
    width: 500px;
    margin-bottom: 35px;
}
.otro-color{
    color: #FF1D08;
    font-weight: 500;
}
.table-container{
    width: 800px;
    margin-bottom: 25px;
}
.table-container th{
    width: 150px;
}

.column-header{
    background-color: #FF1E0C;
    font-family: 'Lilita One', sans-serif;
    color: #FADD56;
    height: 34px;
    font-size: 1.4rem;
    margin: 0;
    padding: 2px;
}
.column-content{
    font-weight: 400;
    font-size: 1.3rem;
    height: 45px;
    color: #606060;
    margin: 0;
    padding: 5px;
}
.table-container--img-container{
    right: -32px;
    top: 300px;
 }
 .point2{
    width: 120px;
 }
 .bottom-text{
    margin-top: 20px;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: right;
    padding-right: 20px;
    padding: 0;
 }
 .another-color{
    color: #F95321;
    background-color: #FDDC5B;
    font-weight: 600;
 }
 .bottom-text--img-container{
    left: -60px;
    bottom: -35px;
 }
 .point3{
    width: 190px;
}